.vs/
bin/
obj/
dist/
*.user
*.suo

export/
scratch/
actual_test*/
validation_*/

Tiles/
TilesRaw/
TilesSingle/
maps_img/
tmx/
tbx_buildings/

*.lotheader
*.lotpack
*.pack
*.tiles
*.pzby
objects.lua

*.pzw
*.tmx
*.tbx
Map*.png
world.png
biomemap.png

!assets/*.png
